<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            color: aliceblue;
            text-align: center;
        }
            </style>
</head>
<body>
    
    <div style="background-color: rgb(83, 83, 170);padding-top: 0.5px; width: 100%; height: 50px;">  
        <p>WELCOME EMPLOYEE</p>
        <form action="/logout" class="inline">
            <button style="height: 25px;background-color: rgb(176, 204, 229);width: 100px;margin-left: 92%;">Logout</button>
        </form>
    </div>  
        <div style="background-color: rgb(30, 177, 225);width: 20%; height: 600px; float:left;"> 
          <form action="/calendar" class="inline">
          <button style="height: 50px;background-color: rgb(176, 204, 229);width: 90%;margin-left: 10px;margin-top: 10px;">Calendar</button>
        </form>
          <button style="height: 50px;background-color: rgb(176, 204, 229);width: 90%;margin-left: 10px;margin-top: 10px;">Check assigned tasks</button>
          <form action="/forum" class="inline">
            <button style="height: 50px;background-color: rgb(176, 204, 229);width: 90%;margin-left: 10px;margin-top: 10px;">Forum</button>
          </form>   
        </div>  
              
        <div style="background-color: white; width:80%; height: 600px; float:left;">  
            Here we will display task status
        </div>  
             
              
</body>
</html>