<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            color: aliceblue;
            text-align: center;
        }
        table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: coral;}
            </style>
</head>
<body>
    
    <div style="background-color: rgb(83, 83, 170);padding-top: 0.5px; width: 100%; height: 50px;">  
        <p>WELCOME EMPLOYEE</p>
        <form action="/logout" class="inline">
            <button style="height: 25px;background-color: rgb(176, 204, 229);width: 100px;margin-left: 92%;">Logout</button>
        </form>
    </div>  
        <div style="background-color: rgb(30, 177, 225);width: 20%; height: 600px; float:left;"> 
          <form action="/calendar" class="inline">
          <button style="height: 50px;background-color: rgb(176, 204, 229);width: 90%;margin-left: 10px;margin-top: 10px;">Calendar</button>
        </form>
          <form action="/forum" class="inline">
            <button style="height: 50px;background-color: rgb(176, 204, 229);width: 90%;margin-left: 10px;margin-top: 10px;">Forum</button>
          </form>   
        </div>  
              
        <div style="background-color: white; width:80%; height: 600px; float:left;">  
            <h4>Task status</h4>
            <table class="table tr th">
                <tr class="table__header">
                {% for i in list1 %}
                <th class="table__cell">{{ i }}</th>
                {% endfor %}
                </tr>
                {% for j in list2 %}
                <tr class="table__row">
                {% for cell in j %}
                <td class="table__cell">{{ cell }}</td> 
                {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </br>
            <form onsubmit="" action="/update" method="post">
                {% csrf_token %}
                <input type="number" id="id" name="id">
                <label for="id">Enter task ID:</label><br>
                
                <input type="number" id="status" name="status">
                <label for="status">Enter new status:</label><br>
                <input type="submit" value="submit">

                </form>
        </div>  
             
              
</body>
</html>